<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SceneKit Learn 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57A9EE771EB97976005DA5AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A9EE931EB97977005DA5AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A9EE9E1EB97977005DA5AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
